| CURSO | PROM_ACUM | PORCENTAJE |
|----------|----------|----------|
| A    | 5.8   | 75%   |
| B    | 5.0   | 30%   |
| C    | 4.0   | 50%   |

```sql
SELECT 
    curso, 
    SUM(nota*porc)/100 AS prom_acum,
    SUM(porc) AS porcentaje,
    GREATEST((4 - (SUM(nota*porc)/100 * SUM(porc)/100))/(1 - SUM(porc)/100), 1) AS nota_necesaria
FROM notas
GROUP BY curso;

```

NOTA NECESARIA: 
$$
    max(\frac{4-PROM \cdot PORC}{1 - PORC}, 1)
$$

AHORA la información en la tabla es muy pobre especialmente si tomamos en cuenta que los cursos no evalúan de la misma manera. Por ejemplo, el curso A tiene 3 evaluaciones, el curso B tiene 2 evaluaciones y el curso C tiene 1 evaluación. Lo que podemos hacer es crear una tabla que contenga la información de las evaluaciones de cada curso.

Existen dos bases de datos transaccionales:

- Base de datos transaccional: Es una base de datos que se actualiza en tiempo real. Por ejemplo, una base de datos de un banco que registra las transacciones de los clientes.
- Base de datos analítica: Es una base de datos que se actualiza en un periodo de tiempo. Por ejemplo, una base de datos de un banco que registra las transacciones de los clientes cada mes.

por ejemplo para una empresa de ventas de productos de limpieza, la base de datos transaccional puede ser:

| ID | PRODUCTO | CANTIDAD | PRECIO | FECHA |
|----|----------|----------|--------|-------|
| 1  | LIMON    | 10       | 1.5    | 1/1/20|
| 2  | LIMON    | 5        | 1.5    | 1/1/20|
| 3  | LIMON    | 10       | 1.5    | 1/1/20|
| 4  | LIMON    | 10       | 1.5    | 1/1/20|
| 5  | LIMON    | 10       | 1.5    | 1/1/20|
| 6  | LIMON    | 10       | 1.5    | 1/1/20|

y la base de datos analítica puede ser:

| PRODUCTO | CANTIDAD | PRECIO | FECHA |
|----------|----------|--------|-------|
| LIMON    | 55       | 1.5    | 1/1/20|

Las bases de datos transaccionales se encuentran en SQL y las bases de datos analíticas se encuentran en NoSQL.

SQL: Es un lengua de consulta estructurado. Es un lenguaje de programación que permite hacer consultas a una base de datos relacional. Las bases de datos relacionales son bases de datos que se encuentran en tablas. Por ejemplo, la base de datos de la empresa de ventas de productos de limpieza se encuentra en tablas.

```SQL
SELECT * FROM tabla;
```

```sql
SELECT [column_name(s)]
FROM [table_name]
WHERE [column_name] LIKE [pattern]
GROUP BY [column_name(s)]
HAVING [condition];
```

```sql
SELECT curso, nota
FROM notas
WHERE curso = 'A' AND nota < 4;
```

```sql
SELECT curso, nota, (porcentaje/100) AS porcentaje
FROM notas
WHERE curso = 'A' AND nota < 4;
```

group by
```sql
SELECT curso, AVG(nota) AS promedio
FROM notas
WHERE curso = 'A' AND nota < 4
GROUP BY curso;
```