#  Clase 17 - SQL

### Hoy
- Dbeaver – instalación y uso
    - Carga datos notas
- Exploración de datos
- Queries anidadas
- Llamada desde Python
- Uso de funcion “CASE”

#### Opciones de consulta de datos: Método "directo"

In [3]:
import sqlite3

conn = sqlite3.connect('notes.db')

#cursor = conn.cursor()

query = 'SELECT * FROM NOTAS'

response = conn.execute(query)

response.fetchone()

(0, 'A', 'c1', 0.1, 6.0)

#### Opciones de consulta de datos: Método "indirecto"

In [3]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('notes.db')

#en pandas no es necesario crear un objeto cursor

query = '''
    SELECT 
        Curso AS "CURSO", 
        ROUND(NOTA_ACTUAL, 2) AS "NOTA ACTUAL", 
        ROUND(PORC_ACUM, 2) AS "PORCENTAJE ACUMULADO", 
        ROUND(MAX(((? - NOTA_ACTUAL * PORC_ACUM) / (1 - PORC_ACUM)), 1), 2) AS "NOTA NECESARIA"
    FROM (
        SELECT 
            Curso, 
            SUM(Nota * Ponderacion)/SUM(Ponderacion) AS NOTA_ACTUAL,
            SUM(Ponderacion) AS PORC_ACUM
        FROM NOTAS
        GROUP BY Curso
    );

'''

df = pd.read_sql(query, conn, params=[6])

df

  CURSO  NOTA ACTUAL  PORCENTAJE ACUMULADO  NOTA NECESARIA
0     A         6.29                   0.7            5.33
1     B         5.00                   0.4            6.67
2     C         4.50                   0.5            7.50
3     D         6.50                   0.3            5.79